main {
  width: 95%;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}


.custom-row-inner {
  width: 95%;
  margin: auto;
  padding: 10px 10px 10px 10px;
}
