<body>
  <header>
      <h1>Eng  Login</h1>
  </header>
  <main>
      <form id="login_form" class="form_class">
          <div class="form_div">
              <label>Login:</label>
              <input class="field_class" name="username" type="text" placeholder="username" autofocus>
              <label>Password:</label>
              <input id="pass" class="field_class" name="password_txt" type="password" placeholder="password">
              <div>
                <div class="row">
                <div class="col-md-6 button_left_class">
                    <button class="submit_class" type="submit" (click)="validarLogin()">Login</button>
                  </div>
                  <div class="col-md-6 button_righ_class">
                    <button class="cancle_class" type="submit" (click)="clearinput()">Cancle</button></div>
                </div>
              </div>
          </div>
          <div class="info_div">
              <p>cccccccccdzxzzzz</p>
          </div>
      </form>
  </main>
  <footer>
      <p>cccccccccdzxzzzz</p>
  </footer>
</body>
