
<main>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content ">
          <span class="card-title"><b><i class="material-icons">brightness_7</i> สมัครคัดเลือกเข้าศึกษาชั้นปริญญาตรี
            คณะวิศวกรรมศาสตร์ มหาวิทยาลัยรามคำแหง</b></span>
            <hr>
          <div class="row">
            <div class="col-sm-6 s6 custom-col-inner" routerLink="/predegree-reg">
              <div>
              <img class="image-button" src="../../../assets/images/regb1.jpg" alt="">
              <p>&nbsp;</p>
              </div>
              <div id="container">
              <button class="learn-more">
                <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">สำหรับสมัครเป็นนักศึกษา Predegree </span>
              </button>
            </div>
          </div>
            <div class="col-sm-6 s6 custom-col-inner" routerLink="/student-reg">
              <div>
              <img class="image-button" src="../../../assets/images/regb2.jpg" alt="">
              <p>&nbsp;</p>
              </div>
              <div id="container">
              <button class="learn-more">
                <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">สำหรับสมัครเป็นนักศึกษา <br> ภาคปกติ</span>
              </button>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button routerLink="/rep-register">
xzzzzzz
              </button>
            </div>
          </div>

        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <p></p><router-outlet></router-outlet>
  </main>
